@model PortalAboutEverything.Models.Vertuk.VertukListPostsViewModel


<head>
    <link rel="stylesheet" href="/css/vertuk/post/style.css" />
</head>
<body>
    

        @foreach (var post in Model.ListPosts)
        {
            <div class="post">
                <div class="name_post">
                    @post.NamePost
                </div>
                <div calss="desc_post">
                    @post.DecsPost
                </div>
            </div>
        }
    
    
    <div>
        Здесь можно разместить пост
    </div>

    <div>
        <form action="/Vertuk/Post" method="post">
            <div>
                <input type="text" name="namePost" placeholder="Заголовок" />
            </div>
            <div>
                <textarea name="decsPost" placeholder="Ваши коментарии"></textarea>
            </div>
            <div>
                <input type="submit" value="Создать пост" />
            </div>
        </form>
    </div>
</body>

