@model PortalAboutEverything.Models.Vertuk.VertukListPostsViewModel


<head>
    <link rel="stylesheet" href="/css/vertuk/post/style.css" />
</head>
<body>

    @foreach (var post in Model.ListPosts)
    {
        <div>
            @post.NamePost
        </div>
        <div>
            @post.DecPost
        </div>

    }
    <div>
        Здесь можно разместить пост
    </div>

    <div>
        <form action="/Vertuk/Post" method="post">
            <div>
                <input type="text" name="namePost" placeholder="Имя поста" />
            </div>
            <div>
                <textarea name="decPost"></textarea>
            </div>
            <div>
                <input type="submit" value="Создать пост" />
            </div>
        </form>
    </div>
</body>

