* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
}

.banner {
  max-height: 74px;
}

.banner img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1230px;
  height: 100%;
  margin: 0 auto;
}

header {
  background-color: #212121;
  color: white;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  color: #fc0;
}

.header-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-elements {
  display: flex;
  align-items: center;
  gap: 25px;
}

.right-elements {
  display: flex;
  align-items: center;
  gap: 25px;
}

.title {
  background-color: #f9d1ca;
  text-align: center;
  padding: 3px;
  margin-bottom: 30px;
}

.main-wraper {
  display: flex;
}

.square-image {
  max-height: 322px;
  margin-left: 100px;
}

.description p {
  text-align: justify;
}

.price-card {
  border: 1px solid #a5a5a5;
  max-height: 200px;
  min-width: 400px;
  padding: 20px;
}

.price-card .first-row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.price-card .code {
  font-size: 10px;
}

button {
  cursor: pointer;
}

.price-card .buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
}

.price-card .buttons button {
  height: 40px;
  font-size: 20px;
}

.highlighted-button {
  color: white;
  background-color: #ef6747;
  border: #a5a5a5 solid 1px;
}

.usual-button {
  color: #ef6747;
  background-color: white;
  border: #a5a5a5 solid 1px;
}

.highlighted-button:hover {
  background-color: #dd7e68;
}

.usual-button:hover {
  background-color: #ede3e1;
}

.tag {
  background: #fc0;
  padding: 5px 10px;
  border-radius: 15px;
  display: inline-block;
  margin: 3px;
  border: 1px #f9d1ca solid;
}

.review {
  margin-bottom: 50px;
}

.review .name-and-date {
  display: flex;
  gap: 35px;
  align-items: center;
}

.review .name {
  font-size: 15px;
  font-weight: 700;
}

.review .date {
  font-size: 12px;
}

.review-buttons {
  margin-top: 35px;
  margin-bottom: 40px;
  display: flex;
  gap: 20px;
}

.review-buttons button {
  border-radius: 15px;
  padding: 10px;
}

footer {
  background-color: rgb(33, 33, 33);
  color: white;
  margin-top: 15px;
}

.footer-elements {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}