.api-methods-container {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.api-method-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.api-method {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.api-method span {
    font-size: 16px;
    color: #333;
}

.api-method .return-type {
    font-weight: bold;
    color: #555;
}

.api-method .method-name {
    color: #ef6747;
    font-weight: bold;
}

.api-method .parameter {
    font-style: italic;
    color: #666;
}

.api-method .comma {
    color: #666;
}