@model PortalAboutEverything.Models.Hushchyn.HistoryViewModel



<div>
    сейчас @Model.Second секунд 
</div>
<div>
    случайное число = @Model.Number
</div>

<div>
    <form action="/History/PageTwo" method="post">
        <div>
            Какой сейчас день недели?
            @foreach (var day in Model.Days)
            {
                <label>
                    @day
                    <input type="radio" name="day" value="@day" />
                </label>
            }
        </div>
        <div>
           Введите какой-нибудь текст
        </div>
        <div>
            <textarea name="comment"></textarea>
        </div>
        <div>
            <input type="submit" value="Отправить" />
        </div>
    </form>
</div>