@model PortalAboutEverything.Models.History.HistoryIndexViewModel

    
<div class="events">
    Список событий
    @foreach (var historicalEvent in Model.HistoryEvents)
    {
       <div class="event">
          Название - @historicalEvent.Name  
              Дата - @historicalEvent.YearOfEvent 
          Описание - @historicalEvent.Description
            <a href="/History/Update?id=@historicalEvent.Id">редактировать</a>
          <a href="/History/Delete?id=@historicalEvent.Id" class="delete">Удалить</a>
       </div>         
    }
</div>

<div>
    @if (Model.IsHistoryEventAdmin)
    {
        <a href="/History/Create">Добавить событие</a>
    }

    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <a href="/History/Guest">Профиль</a>
    }    
</div>

