@model PortalAboutEverything.Models.VideoSort.ChatMessageViewModel

<div class="ancient-main">
    <div class="ancient-title">
        <span>New message:</span>
    </div>
    <form class="ancient-form" action="/VideoSort/ChatMessageUpdate" method="post">
        @Html.HiddenFor(x => x.Id)
        <label class="ancient-form-element" for="ancient-form-element-input">
            <span>Message:</span>
            <textarea name="message">@Model.Message</textarea>
        </label>
        <div class="ancient-form-element-submit">
            <input type="submit" value="Update Message">
        </div>
    </form>
</div>