@{
    ViewData["Title"] = "Home Page";
}

<div class="book_reviews">
	<div class="books_reviews__title">
		Отзывы участников
	</div>
	<div class="reviews_wrapper">
		<div class="book_reviews__review review">
			<div class="review__header">
				<span class="review__reviewer">Anton L</span>
				<span class="review__date">01.01.2001</span>
			</div>
			<div class="review__text">
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum eum eius laboriosam ipsum blanditiis
				necessitatibus nostrum quod maxime.
				Atque quibusdam aperiam temporibus doloribus a in omnis, libero nostrum blanditiis! Ut.
			</div>
		</div>
		<div class="book_reviews__review review">
			<div class="review__header">
				<span class="review__reviewer">Vasily</span>
				<span class="review__date">01.01.2001</span>
			</div>
			<div class="review__text">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque pariatur nulla incidunt eum ab sit
				maiores quisquam culpa quod aut,
				sapiente velit explicabo nobis necessitatibus quo enim repellendus perferendis unde saepe? Odit
				tempore modi a?
			</div>
		</div>
	</div>
</div>