@model PortalAboutEverything.Models.Store.CreateReviewViewModel;

@section Style {
    <link rel="stylesheet" href="/css/Store/style.css" />
}

<form method="post">
    <div>
        @Html.TextBoxFor(x => x.Title, new { placeholder = "input title" })
    </div>
    <div>
        @Html.TextBoxFor(x => x.Description, new { placeholder = "input description" })
    </div>
    <input type="submit" value="create review" />
</form>
