<h2>
    Напишите ваше мнение об игре "Ticket to Ride: Европа"
</h2>
<div>
    <form action="/BoardGame/FirstBoardGame" method="post">
        <div>
            <input type="text" name="name" placeholder="Ваше имя" />
        </div>       
        <div>
            <textarea name="text" placeholder="Ваш отзыв"></textarea>
        </div>
        <div>
            <input type="submit" value="Опубликовать отзыв" />
        </div>
    </form>
</div>