@model PortalAboutEverything.Models.BoardGame.BoardGameUpdateReviewViewModel

@section Style {
    <link href="/css/BoardGame/forms.css" rel="stylesheet" />
}

<div class="review-form">
    <h2>
        Ваше мнение об игре "Ticket to Ride: Европа":
    </h2>
    <form method="post">
        @Html.HiddenFor(review => review.Id)
        <div>
            @Html.TextBoxFor(review => review.Name, new
                {
                    placeholder = "Ваше имя",
                    @class = "reviewer-name"
                })
        </div>
        <div>
            @Html.TextAreaFor(review => review.Text, new
                {
                    placeholder = "Ваш отзыв",
                     @class = "reviewer-name"
                })
        </div>
        <div>
            <input class="button-send" type="submit" value="Изменить отзыв" />
        </div>
    </form>
</div>