@model PortalAboutEverything.Models.Movie.MovieRateViewModel

<div>
    Пользователь поставил фильму "@Model.Name" оценку @Model.Rate.
</div>
<div>
    Комментарий пользователя:
    @Model.Comment
</div>
<div>
    @if (Model.IsSubscribed)
    {
        <div> Пользователь подписан на новости </div>
    }
    else
    {
        <div> Пользователь не подписан на новости </div>
    }
</div>