@model PortalAboutEverything.Models.Movie.MoviesFanViewModel

@section Style {
    <link rel="stylesheet" href="/css/Movie/movieStyle.css?=1" />
}

<div>
    Пользователь с именем @Model.Name
</div>
<div>
    Любимые фильмы:
</div>
@foreach (var movie in Model.Movies)
{
    <div>
        @movie.Name
        <a href="/Movie/DeleteMovieFromMovieFan?movieId=@movie.Id">Удалить</a>
    </div>
}
<form action="/Movie/Index" method="post">
    <input type="submit" value="Вернуться на главную" />
</form>
