@model IEnumerable<string>

<h2>Здесь можно заменить картинки на главной странице</h2>
@foreach (var image in Model)
{
    <div>
        <p>@System.IO.Path.GetFileName(image)</p>
        <img src="@Url.Content(image)" alt="Image" />
        <form method="post" action="/Traveling/ChengeImageIndexPage" enctype="multipart/form-data">
            <input type="hidden" name="oldImagePath" value="@image" />
            <input type="file" name="newImage" />
            <p>Загрузить изображение</p>
            <label for="file-upload"></label>
            <input type="submit" value="Заменить" />
        </form>
    </div>
}

