@model PortalAboutEverything.Models.Traveling.TravelingCreateViewModel


@section StyleTraveling {
    <link rel="stylesheet" href="/css/Traveling/post/style.css" />
}
<div>

   @*  @foreach (var post in Model.ListPosts)
    {
        <div class="post">
            <div class="name_post">
                @post.Name
            </div>
            <div calss="desc_post">
                @post.Decs
            </div>
        </div>
    } *@


    <div>
        Здесь можно разместить пост
    </div>

    <div>
        <form action="/Traveling/Post" method="post">
            <div>
                <input type="text" name="name" placeholder="Заголовок" />
            </div>
            <div>
                <textarea name="decs" placeholder="Ваши коментарии"></textarea>
            </div>
            <div>
                <input type="submit" value="Создать пост" />
            </div>
        </form>
    </div>
</div>

