@model PortalAboutEverything.Models.Traveling.TravelingUpdateViewModel

@section StyleTraveling {
    <link rel="stylesheet" href="/css/Traveling/post/style.css" />
}
<form method="post">
    <div>
        @Html.TextBoxFor(x => x.Name, new { placeholder = "Введите имя" })
    </div>
    <div>
        @Html.TextAreaFor(x => x.Desc, new { placeholder = "Введите отзыв" })
    </div>
    <div>
        <input type="submit" value="Обновить" />
    </div>
</form>
