.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__content {
    width: 400px;
}

.header__title {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 48px;
    font-weight: 700;
    color: #263238;
    line-height: 84px;
}

.header__summary {
    display: flex;
    justify-content: left;
    align-items: center;
    line-height: 25px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}

.header__btn_wrapper {
    display: flex;
    justify-content: left;
}

.header__btn {
    margin-top: 20px;
}

.btn {
    height: 54px;
    box-sizing: border-box;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    font-size: 17px;
    background-color: #f5c400;
}

.btn_small {
    width: 200px;
}

.btn_big {
    width: 262px;
}

.header__image {
    width: 550px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

    .header__image img {
        width: 100%;
    }


.container {
    border-radius: 5px;
    background-color: #EAECEF;
    padding: 20px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #f5c400;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.container {
    border-radius: 5px;
    background-color: #EAECEF;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.checked {
    color: orange;
}


.rating-area {
    float: left;
    width: 75%;
    margin-top: 6px;
}
