.site-name {
    font-size: 30px;
    height: 50px;
}

.header_site {
    display: flex;
    justify-content: space-between;
}

.header_right {
    display: flex;
    justify-content: space-around;
}

.catalog_games {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.login {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.buy {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.images {
    display: flex;
    justify-content: space-around;
    width: 600px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.image {
    display: flex;
    align-items: center;
}

.images img {
    max-width: 150px;
    max-height: 300px;
}

.center-block {
    display: flex;
    justify-content: center;
}

.desc-and-genres {
    margin-left: 20px;
    width: 150px;
}

.developer {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.desc {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.genre {
    padding: 5px 10px;
    border-radius: 15px;
    display: inline-block;
    align-items: center;
    margin: 3px;
    border: 1px rgb(255, 255, 255) solid;
}

button {
    border: none;
    cursor: pointer;
}

div {
    color: #ffffff;
}

body {
    background-image: url('../../images/GameStore/background.jpg');
}

comment-block {
    display: flex;
    justify-content: flex-end;
}

.delete {
    padding: 5px;
    background: #ccc;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}
