.infoAboutMovie {
    border: 1px solid black;
    border-radius: 5px;
    max-width: max-content;
    padding: 10px;
    margin: 3px;
}

.movieDescription {
    max-width: 300px;
    overflow-y: auto;
}

.movieName {
    background: #eb76e6c9;
    border-radius: 5px;
    padding: 5px;
    margin: 8px;
}

.movies {
    display: flex;
    flex-wrap: wrap;
}

.review {
    padding: 5px;
    margin: 8px;
    border: 1px solid black;
    border-radius: 5px;
}

.dateReview {
    text-align: right;
}

.movieImage {
    max-width: 150px;
    max-height: 200px
}
