@model PortalAboutEverything.Models.GameStore.RateTheGameStoreViewModel
<div>   
    Отзывы 
</div>
<div>   
    Игра : @Model.GameName поставил оценку : @Model.Rate
</div>
<div>
    Коментарий : @Model.Comment
</div>