:root {
    --ancient-border-color: #1a1e21;
}

.ancient-main {
    border: 1px solid var(--ancient-border-color);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.ancient-form {
    border: 1px solid var(--ancient-border-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
}

.ancient-form-element {
    padding-inline: 1rem 0.5rem;
    border: 1px solid var(--ancient-border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
    border-radius: 0.5rem;
}

.ancient-form-element input, .ancient-form-element textarea {
    border: none;
    border-left: 1px solid var(--ancient-border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 2rem;
}

.ancient-form-element-submit {
    width: 100%;
    border: 1px solid var(--ancient-border-color);
    border-radius: 0.5rem;
}

.ancient-form-element-submit input {
    width: 100%;
    height: 3rem;
    background-color: transparent;
    border: none;
    font-weight: 600;
}

.ancient-title {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
}

.ancient-chat-message-list {
    border: 1px solid var(--ancient-border-color);
    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.ancient-chat-message {
    border: 1px solid var(--ancient-border-color);
    border-radius: 0.5rem;
    padding: 0.3rem 1rem;
    min-width: 10rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    position: relative;
}

.ancient-chat-message-username {
    font-size: 0.8rem;
}

.ancient-chat-message-message {
    font-size: 1.2rem;
    font-weight: 600;
}

.ancient-chat-message-bottom-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.ancient-chat-message-modified-mark {
    font-size: 0.6rem;
    margin-top: 0.2rem;
}

.ancient-chat-message-timestamp {
    font-size: 0.6rem;
    margin-top: 0.2rem;
}

.ancient-chat-message-buttons {
    display: flex;
    gap: 0.1rem;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.3rem;
}

.ancient-chat-message-delete-button, .ancient-chat-message-modify-button {
    border: 1px solid var(--ancient-border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.1rem;
    border-radius: 0.25rem;
}

.ancient-chat-message-delete-button svg, .ancient-chat-message-modify-button svg {
    width: 1rem;
}